/* =====================
Reset
===================== */
/* #region */

* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

input,
button {
	color: inherit;
	font: inherit;
}

/* #endregion# */

/* =====================
General
===================== */
/* #region */

.cnt {
	max-width: calc(1200px + 4rem);
	width: 100%;
	margin: auto;
	padding: 0 2rem;
}




html {
	--c-b: black;
	--c-b1: #22252E;
	--c-b2: #323642;
	--c-b3: #889099;
	--c-b4: #323642;
	--c-b5: #3D4251;
	--c-b6: #272B35;


	--c-w1: white;
	--c-w2: #F7F7F7;
	--c-w3: #EBECED;
	--c-w4: #D7D8D9;

	--c-gn1: #4CB649;
	--c-gn2: #5DDF5A;
	--c-y1: #FF8D00;
	--c-r: #F24458;

	--b-sh1: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.501961);
	--b-sh2: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.101961);


	font-size: 0.625em;
	font-family: Roboto, sans-serif;
}

[class|=btn] {
	background: linear-gradient(0deg, var(--c-gn1) 0%, var(--c-gn2) 100%);
	display: inline-block;
	border-radius: 3rem;
	font-size: 1.4rem;
	line-height: 1.286;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	color: var(--c-w1);
	padding: 1.1rem 3rem;
	border: none;
}

.btn--alt {
	border: 1px solid;
	background: none;
	padding: 1.1rem 2rem;
	color: var(--c-gn1);
}

.btn--feat {
	border: 1px solid;
	background: none;
	padding: 1.1rem 2rem;
	color: var(--c-gn1);
}

.text {
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 1.417;
	color: var(--c-b1);
}

.text-meta {
	font-size: 1.2rem;
	line-height: 1.333;
}

.text-meta__author {
	font-size: 1.4rem;
	line-height: 1.571;
	color: var(--c-b2);
	margin-bottom: 0.9rem;
}

.text-meta__time {
	margin-left: 0.7rem;
	text-transform: uppercase;
	color: var(--c-b3);
}

.text-meta__time::before {
	content: '|';
	margin-right: 1rem;
}

.text-meta__category {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.286;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	color: var(--c-gn1);
	margin-bottom: 0.5rem;
}

.text-meta__tags {

	letter-spacing: 0.05rem;
	text-transform: uppercase;
	color: var(--c-gn1);
	margin-bottom: 0.8rem;
}

.text-meta__tag:not(:last-child)::after {
	content: ', ';
}

.text-meta__comments {
	font-size: 1.4rem;
	line-height: 1.571;
	display: flex;
	align-items: center;
}

.text-meta__comments::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 1rem;
	background: url(img/icons/comment.svg) center/contain;

}


.img-wrap__inner {
	padding-top: 66.67%;
	position: relative;
}

.img-wrap__img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
}

.img-wrap__img img {
	object-fit: cover;
	width: 100%;
}

.section-title {
	font-weight: 300;
	font-size: 3.2rem;
	line-height: 1.375;
	color: var(--c-b1);

}

/* #endregion# */

/* =====================
Sticky
===================== */
/* #region */

.sticky {
	display: flex;
	z-index: 1;
	justify-content: space-between;
	background-color: var(--c-b1);
	align-items: center;
	width: 100vw;
	position: sticky;
	top: 0;
	padding: 0.5rem 2rem 0.68rem;
	margin-bottom: 4rem;
}

.hide {
	visibility: hidden;
}

.sticky__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 1.2rem;
	line-height: 1.333;
	color: var(--c-b3);
}

.sticky__content>span+* {
	margin-left: 3.3rem;
}

.sticky__warn {
	color: var(--c-y1);
	display: flex;
	align-items: center;
	font-weight: 700;
}

.sticky__warn img {
	margin-right: 0.3rem;
}

.sticky__more {
	color: var(--c-w1);
}

.sticky__info,
.sticky__warn,
.sticky__more {
	white-space: nowrap;
}

.close-btn {
	padding: 0;
	border: none;
	background: none;
}

/* #endregion# */

/* =====================
Menu
===================== */
/* #region */

.menu {
	padding: 1.2rem;
	display: flex;
	position: relative;
	margin-bottom: 3.6rem;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.286;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--c-b2);

}

.menu__nav .close-btn {
	display: none;
}

.logo {

	font-family: Inter, sans-serif;
	font-size: 1.8rem;
	line-height: 1.222;
	text-transform: capitalize;
	color: var(--c-b);

}

.menu .logo {
	position: absolute;
	left: 2rem;
}

.menu__items {
	display: flex;
	align-items: center;
}

.menu__item+.menu__item {
	margin-left: 3.2rem;
}

.menu__link {
	padding: 0.6rem 0;
	border-bottom: 3px solid transparent;
	transition: 0.5s;
}

.menu__item.submenu .menu__link::after {
	display: inline-block;
	content: '';
	background: url(img/icons/down.svg) center/contain;
	width: 10px;
	height: 5px;
	margin-left: 1.2rem;
	transform: translateY(-50%);
}

:is(.menu__item.active, .menu__item:hover) .menu__link {
	border-bottom-color: var(--c-gn1);
}

.menu__btns {
	position: absolute;
	right: 0;
	transform: translateX(50%) translateX(-1.2rem);
}

.menu__btns>*+* {
	margin-left: 1rem;
}

/* #endregion# */

/* =====================
Slider
===================== */
/* #region */
.slider {
	margin-bottom: 3rem;
}

.slider__item {
	display: flex;
	box-shadow: var(--b-sh2);
	border: 1px solid var(--c-w4);
	border-radius: 0.6rem;
}

.slider__item>* {
	flex: 0 0 50%;
}

.slider__text {
	display: flex;
	padding: 6rem;
	padding-bottom: 4rem;
	flex-direction: column;
	justify-content: space-between;
}


/* #endregion# */

/* =====================
Tags
===================== */
/* #region */
.tags {
	margin-bottom: 4rem;
}

.tags__inner {
	padding: 2rem 3.2rem;
	background: var(--c-w2);
	border-radius: 0.4rem;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.286;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--c-b2);
	display: flex;
	align-items: center;
}

.tags__items {
	display: flex;
	align-items: center;
	margin-left: 4rem;
	color: var(--c-gn1);
}

.tag__item+.tag__item {
	margin-left: 3.3rem;

}

.tag__links-nav {
	margin-left: auto;

}

.tag__links {
	display: flex;
	align-items: center;
}

.tag__link+.tag__link {
	margin-left: 3.5rem;
}


/* #endregion# */

/* =====================
Posts
===================== */
/* #region */

.posts {
	display: flex;
	margin-bottom: 11.5rem;
}

.posts__articles {
	margin-bottom: 4.8rem;
}

.posts__posts {
	flex-basis: 80rem;
	border-right: 1px solid var(--c-w3);
}

.posts__title {
	margin-bottom: 4rem;
}


article[class|=posts__article] {
	margin: 3rem 0;
}

article[class|=posts__article]::after {
	content: '';
	display: block;
	width: 92.5%;
	height: 1px;
	background-color: var(--c-w3);
	margin-top: 3.1rem;
}

article.posts__article--important::after {
	margin-top: 5.3rem;
}

.posts__article-inner {
	display: flex;
}

.posts__article-img {
	flex-basis: 28rem;
}

.posts__article-text {
	flex-basis: 52rem;
	padding: 0 2rem 0 4rem;
}

.posts__article-text .text {
	padding-right: 2rem;
	margin-bottom: 1rem;
}

/* =====================
Modification for Guide article
===================== */
/* #region */

.posts__article--guide .posts__article-text {
	padding: 0 4rem 0 2rem;
}

.posts__article--guide.posts__article::after {
	margin-top: 3rem;
}

.posts__article:last-child::after {
	margin-top: 3rem;
}

/* #endregion# */

.posts .img-wrap__inner {
	padding-top: 64.3%;
}

.posts__more {
	text-align: center;
}

.posts__more [class|=btn] {
	padding-left: 8rem;
	padding-right: 8rem;
	margin-right: 1.6rem;
}

.posts__aside {
	flex-basis: 40rem;
	padding-left: 6rem;
}

.aside__form {
	margin-bottom: 3rem;
}

.aside__section {
	margin-bottom: 3.4rem;
}

.aside__section .section-title {
	margin-bottom: 2.1rem;
	display: flex;
	align-items: center;
	font-size: 2.4rem;
	line-height: 1.42;
}

.aside__section .section-title::before {
	content: '';
	width: 60px;
	height: 60px;
	display: inline-block;
	background: center/contain;
	margin-right: 1.8rem;

}

.aside__section.announce .section-title::before {
	background-image: url(img/icons/announcements.svg);
}

.aside__section.popular .section-title::before {
	background-image: url(img/icons/popular.svg);
}

.aside__input {
	padding: 1.6rem;
	width: 100%;
	padding-left: 6rem;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.555;
	color: var(--c-b1);
	background: url(img/icons/search.svg) 2rem center / 2rem no-repeat;
	border: 1px solid var(--c-w4);
	border-radius: 0.4rem;

}

.aside__input:focus-visible {
	outline: none;
}

.aside__input::placeholder {
	text-transform: capitalize;
}

.aside__items {
	padding: 0 0 2.8rem 1.4rem;
	border-bottom: 1px solid var(--c-w3);
}

.aside__item {
	list-style-type: disc;
	font-size: 1.4rem;
	line-height: 1.57;
	color: var(--c-b4);
}

.aside__item+.aside__item {
	margin-top: 1.6rem;
}

.aside__item::marker {
	color: var(--c-gn1);
}

.aside__banner {
	margin-bottom: 4.5rem;
}

.aside__banner img {
	width: 100%;
}

.tags-cloud .section-title {
	font-size: 2.4rem;
	line-height: 1.42;
	margin-bottom: 1rem;
}

.tags-cloud__list {
	max-width: 32rem;
	font-weight: 300;
}

.tags-cloud__item {
	color: var(--c-b3);
	font-size: 1.2rem;
}

.tags-cloud__item+.tags-cloud__item::before {
	content: ' ';
}

/* #endregion# */

/* =====================
Features
===================== */
/* #region */

.features {
	background: linear-gradient(135deg, var(--c-b5) 0%, var(--c-b6) 100%);
	padding: 10rem 0 5.3rem;

}

.features__title {
	font-weight: 300;
	font-size: 4.8rem;
	line-height: 1.33;
	text-align: center;
	letter-spacing: -0.05rem;
	color: var(--c-w1);
	margin-bottom: 4rem;
}

.features__items {
	display: flex;
	padding: 0 1rem;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

:is(.feature, .feature--selected) {
	flex-basis: 38rem;
	background-color: var(--c-w1);
	border: 1px solid var(--c-w3);
	border-radius: 0.6rem;
	text-align: center;
	padding: 5rem 0 3.8rem;
	box-shadow: var(--b-sh1);
}

.feature--selected {
	padding: 6rem;
	border-radius: 0.4rem;
	border: 0.4rem solid var(--c-gn1);

}

.feature__title {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.29;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	color: var(--c-b4);
}

.feature__title::after {
	content: '';
	display: block;
	background-color: var(--c-gn1);
	width: 2.4rem;
	margin: 1rem auto 0.4rem;
	height: 2px;

}


.feature__price {
	font-weight: 300;
	display: inline-block;
	font-size: 5.6rem;
	line-height: 1.179;
	padding: 1.4rem;
	border-bottom: 1px solid var(--c-w3);
	letter-spacing: -0.15rem;
	color: var(--c-b1);
}

.feature__price::before {
	content: '$';
	display: inline-block;
	font-size: 2.4rem;
	line-height: 1.33;
	vertical-align: middle;
	transform: translateY(-25%);
	margin-right: 1rem;
}

.feature__period {
	font-size: 2.4rem;
	display: inline-block;
	line-height: 1.33;
	letter-spacing: normal;
	transform: translateY(25%);
}

.feature__period::before {
	content: '/';
}

.feature_descr {
	font-size: 1.4rem;
	line-height: 1.57;
	margin: 2.7rem 0 3rem;
	color: var(--c-b4);
}

:is(.feature, .feature--selected) [class|=btn] {
	padding-left: 7.5rem;
	padding-right: 7.5rem;
}

.feature--selected [class|=btn] {
	margin-top: 0.9rem;
}


.feature__discount {
	font-size: 1.4rem;
	line-height: 1.57;
	margin: 1.9rem 0 0.4rem;
}

.feature__discount>*::before {
	content: '$';
}

.feature__old {
	text-decoration-line: line-through;
	color: var(--c-r);
	margin-right: 1rem;
}

.feature__promo {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.57;
	color: var(--c-b2);
	margin-bottom: 1.5rem;
}

.features__pay {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.8rem;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.56;
	color: var(--c-w1);

}

.features__pay-icons {
	display: inline-flex;
	margin-left: 0.5rem;
	align-items: center;
}

.features__pay-icons>* {
	margin-left: 3.2rem;
}

.features__pay-paypal {
	margin-left: 2.4rem;
}

.feature__actions {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.29;
	letter-spacing: 0.08rem;
	text-transform: uppercase;
	color: var(--c-gn1);
	text-align: center;

}

.feature__action {
	display: inline-flex;
	align-items: center;
}

.feature__action::after {
	content: '';
	margin-left: 1.2rem;
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	background: url(img/icons/rarr.svg) center/contain;

}

.feature__action+.feature__action {
	margin-left: 3.6rem;
}

/* #endregion# */


/* =====================
Footer
===================== */
/* #region */

.footer-main {
	padding-top: 8.4rem;
	padding-bottom: 9rem;
}

.footer-logo {
	font-family: Inter, sans-serif;
	font-size: 2.7rem;
	color: var(--c-b);
	margin-bottom: 3.3rem;
}

.footer-block {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	height: 40rem;
}

.footer-list {
	margin-top: 3rem;
	font-size: 1.4rem;
	line-height: 1.57;
	color: var(--c-b3);
}

.footer-list.more {
	margin-top: 6.5rem;
}

.footer-list.about {
	width: 50%;
	padding-right: 1rem;
}



.footer-list.legal {
	margin-left: 3rem;
	margin-right: 1.7rem;
}

.footer-list.social {
	margin-top: 3.9rem;
}


.footer-title {
	font-weight: 500;
	font-size: 1.4rem;
	margin-bottom: 2rem;
	line-height: 1.29;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--c-b4)
}

.footer-text {

	font-size: 1.4rem;
	line-height: 1.57;
}

.footer-item {
	/* max-width: 15rem; */
	margin-right: 5.5rem;
}

.footer-item+.footer-item {
	margin-top: 1rem;
}

.footer-text {
	margin-bottom: 2rem;
}

.footer-copy {
	font-size: 1.2rem;
	line-height: 1.33;
	max-width: 58rem;
}

.footer-copy p+p {
	margin-top: 1.6rem;
}


.footer_icons {
	margin-top: 2.2rem;
}

.footer_icon+.footer_icon {
	margin-left: 2.7rem;
}

/* #endregion# */


.burger {
	width: 24px;
	height: 16px;

	display: none;
	cursor: pointer;
}

.row {
	height: 2px;
	background-color: var(--c-b1);
}

.row+.row {
	margin-top: 5px;
}

.burger::before {
	top: -5px;
}

.burger::after {
	top: 5px;
}




/* =====================
Media Queries
===================== */
/* #region */
@media screen and (max-width: 1500px) {
	.menu__btns {
		transform: translateX(-1rem);
	}
}

@media screen and (max-width: 1250px) {

	.features__items,
	.feature--selected {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	:is(.feature, .feature--selected) {
		flex-basis: 26rem;
		flex-grow: 1;
	}

	.features__item+.features__item {
		margin-left: 1rem;
	}

	.footer-block {
		height: 45rem;
	}

	.footer-list.about {
		width: 40%;
		align-self: flex-start;
		padding-right: 1rem;
	}

	.footer-list.social {
		width: 40%;
	}

}

@media screen and (max-width: 1100px) {
	.img-wrap__inner {
		width: 100%;
	}

	.img-wrap {

		display: flex;
	}
}

@media screen and (max-width: 1050px) {
	.menu__btns *:first-child {
		display: none;
	}

	.tags {
		display: none;
	}

	.features__pay {
		display: block;
		text-align: center;
	}

	.features__pay-icons {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0;
		justify-content: space-around;
		margin-bottom: 3rem;
	}

	.features__pay-icons>* {
		flex-shrink: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.feature__action+.feature__action {
		margin-left: 0;
		margin-top: 2rem;
	}

	.footer-list.about {
		width: 100%;
		max-width: 65rem;
	}

	.footer-list {
		margin: 3rem 0 0;
		width: 33.33%;
	}

	.footer-list.legal {
		margin-right: 0;
		margin-left: 0;
	}

	.footer-list.social {
		width: 33.3%;
	}

	.footer_icons {
		flex-flow: row wrap;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.footer_icon {
		flex-shrink: 0;
		margin-top: 1rem;
	}

	.footer_icon+.footer_icon {
		margin-left: 0;
	}

	.footer-block {
		height: 35rem;
	}
}

@media screen and (max-width: 835px) {
	.menu {
		justify-content: space-between;
	}

	.menu .logo {
		position: static;
		margin-left: 2.4rem;
	}

	.burger {
		display: block;

	}

	.menu__nav {
		position: fixed;
		z-index: 1;
		background-color: var(--c-w1);
		display: block;
		left: 0;
		top: 0;
		height: 100vh;
		max-width: 20rem;
		width: 100%;
		transform: translateX(-100%);
		transition: 0.5s;
	}

	.menu__nav.open {
		transform: translateX(0);
	}

	.menu__item.menu__item {
		margin-left: 0;
	}

	.menu__items {
		display: block;
	}

	.menu__link {
		padding: 1rem 0;
		display: block;
		text-align: center;
		border: none;
	}

	.menu__item:is(.active, :hover) {
		background: var(--c-w4);
		color: var(--c-gn1);
	}

	.menu__nav .close-btn {
		position: absolute;
		display: block;
		right: 1rem;
		top: 1rem;
		cursor: pointer;
	}

	.menu__btns {
		position: static;
		margin-left: auto;
	}


	.close-btn.hide {
		display: none;
	}

	.sticky {
		padding: 0.5rem 1rem 0.68rem;
	}


	.sticky__content {
		justify-content: space-between;
		flex-grow: 1;
	}

	.sticky__content>span+* {
		margin-left: 0;
	}

	.sticky__more {
		margin-right: 3rem;
	}

	.slider__item {
		display: block;
	}

	.slider__text {
		padding: 3rem;
		padding-bottom: 1.5rem;
	}

	.text {
		margin-bottom: 2rem;
	}

	.text-meta__author {
		margin-bottom: 2rem;
	}

	.posts {
		display: block;
	}

	.posts__posts {
		border-right: none;
	}

	article[class|="posts__article"]::after {
		width: 100%;
	}

	.posts__article-text {
		padding-right: 0;
	}

	.posts__more [class|="btn"] {
		margin-right: 0;
	}

	.aside__section {
		margin-top: 6rem;
	}

	.posts__aside {
		padding-left: 0;
	}

	.aside__banner {
		padding-left: 1rem;
		padding-right: 1.5rem;
	}

	.features__items {
		display: block;
	}

	.features__item+.features__item {
		margin-left: 0;
		margin-top: 2rem;
	}

	.feature--selected {
		border-color: var(--c-y1);
	}

	.feature--selected .btn {
		background: none var(--c-y1);
	}

	.features__pay-icon {
		width: 33.33%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-main {
		padding-bottom: 2rem;
	}
}

@media screen and (max-width: 640px) {
	.sticky__content {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.sticky__more {
		text-align: right;
		flex-basis: 40%;
	}

	.sticky__warn {
		flex-basis: 30%;
	}

	.sticky__info {
		order: 1;
		flex-basis: 30%;
	}

	.posts__article-inner {
		display: block;
	}

	.posts__article-text {
		padding-left: 0;
	}

	.posts__article--guide .posts__article-text {
		padding-left: 0;
		padding-right: 2rem;
	}

	.img-wrap {
		margin-bottom: 2rem;
	}

	.footer_icons {
		justify-content: flex-start;
	}

	.footer_icon.footer_icon {
		margin-left: 0;
	}

	.footer_icon {
		width: 33.33%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.footer-block {
		height: 60rem;
	}

	.footer-list {
		width: 50%;
	}

	.footer-list.company {
		order: -2;
	}

	.footer-list.legal {
		order: -1;
	}

	.footer-list.social {
		width: 50%;
	}

	.footer_icon {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 450px) {
	.logo {
		opacity: 0.2;
	}

	.menu__btns button {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		text-align: center;
	}

	.features__title {
		padding-left: 0;
		padding-right: 0;
		font-size: 3.6rem;
	}

	.features__title span {
		white-space: nowrap;
	}

	.text-meta__comments::before {
		display: none;
	}



}

/* #endregion# */